profiles {
    local {
        executor {
            name               = 'local'
            queueSize          = 30
            queueGlobalStatus  = true
        }

        singularity.cacheDir = '/path/to/singularity' // TODO update only locally

        params {
            input = null // TODO update only locally
        }
    }
}
