profiles {
    local {
        executor {
            name               = 'local'
            queueSize          = 30
            queueGlobalStatus  = true
        }

        // singularity.cacheDir = '/path/to/singularity'

        params {
                input     = null // test_eset.rds
                gene_info = null // gene_info.xlsx
                iqr       = 0.5
                group1      = null // Disease or case Group clinical
                group0      = null // Healthy or control Group clinical
                comparison  = null // Comparison Column of clinical
                outdir      = null
        }
    }
}
